body{ 
 margin:0;
 text-align: center;
 font-family:'Merriweather', serif;
 color: #40514E;
}
h1{
    margin:50px auto 0 auto;
    color: #66BFBF;
    font-size: 5.625rem;
    font-family: 'Sacramento', cursive;
    
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color:  #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}


p{
    line-height: 2;
}
a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
    color: #EAF6F6;
}
hr{
    border:dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}
.top-container{
    background-color:#EAF6F6;
    padding-top: 100px;
    position: relative;
}


.top-cloud{
    position: absolute;
    right: 300px;
    top:40px;
}
.bottom-cloud {

    position: absolute;
    left: 250px;
    bottom: 300px;
}
.ıam{
    width: 30%;
    margin:auto;
}
.pp{
    border-radius: 100%;
    

}
.middle-container{
    margin: 100px 0 ;

}

.bottom-container{
    background-color: #66BFBF;
    padding: 50px 0px 20px;
    
}

.social-media{
    width: 25%;
    float: right;
    margin-right: 30px;
    
}

.webdeveloper{
    width: 25%;
    float:left;
    margin-right: 30px;

}
.skill-row{
    width: 50%;
    margin:100px auto 100px auto;
    text-align: left;
}

.contact-message{
    width: 40%;
    margin: 40px auto 60px;
}
.btn {
    background: #d934ad;
    background-image: -webkit-linear-gradient(top, #d934ad, #742bb8);
    background-image: -moz-linear-gradient(top, #d934ad, #742bb8);
    background-image: -ms-linear-gradient(top, #d934ad, #742bb8);
    background-image: -o-linear-gradient(top, #d934ad, #742bb8);
    background-image: linear-gradient(to bottom, #d934ad, #742bb8);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: 'Montserrat', sans-serif;
    color: #EAF6F6;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #a63cfc;
    background-image: -webkit-linear-gradient(top, #a63cfc, #c334d9);
    background-image: -moz-linear-gradient(top, #a63cfc, #c334d9);
    background-image: -ms-linear-gradient(top, #a63cfc, #c334d9);
    background-image: -o-linear-gradient(top, #a63cfc, #c334d9);
    background-image: linear-gradient(to bottom, #a63cfc, #c334d9);
    text-decoration: none;
  }
  .created{
    color: #EAF6F6;
    font-size: 0,75rem;
    padding: 20px 0;
  }